# MySQL reads configuration files by sections.
# Without a section header, this file will be ignored.
# Similar to #!/bin/bash in shell scripts.

[mysqld]

# Bind to all interfaces inside container.
# Required for port mapping (3306:3306) to work.
bind-address=0.0.0.0

# Use full UTF-8 support.
# MySQL "utf8" is limited to 3 bytes.
# utf8mb4 supports full Unicode.
character-set-server=utf8mb4

# Defines string comparison rules.
collation-server=utf8mb4_unicode_ci
